<!doctype html>

<h1>Data van Tweakers</h1>

<details>
  <summary>Debug</summary>
  <pre>{{ item | json: 4 }}</pre>
</details>
<nav>
  <a href="/tweakers/7">Moederborden</a>
  <a href="/tweakers/4">Internet &amp; Hosting</a>
  <a href="/tweakers/127">AI</a>
</nav>


  <article>
    <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
    <p>{{ item.replies }}</p>
  </article>
